<header class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/home'>
      <span class='brand-icon'><i class='fas fa-gamepad'></i></span>
      <span class='brand-name'>Gamer Tech</span>
    </a>

    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/home'>Inicio</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/api/products'>Productos</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/realtimeproducts'>Agregar/Eliminar productos (ADMIN)</a>
        </li>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='profileDropdown'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <i class='fas fa-user'></i>
          </a>
          <ul class='dropdown-menu dropdown-menu-end' aria-labelledby='profileDropdown'>
            <li>
              <span class='dropdown-item'>
                Bienvenido,
                {{user}}
                ({{#if isAdmin}}Admin{{else}}User{{/if}})
              </span>
            </li>
            <li>
              <span id='cartIcon' class='dropdown-item'>
                <i class='fa fa-shopping-cart fa-lg'></i>
                <span>Carrito</span>
              </span>
            </li>
            <li>
              <a class='dropdown-item logout-link' href='/logout'>
                <i class='fas fa-sign-out-alt'></i>
                <span>Salir</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class='position-relative'>
      <a href='/test-chat' class='chat-bubble'>
        <i class='fa fa-comments fa-lg'></i>
      </a>
    </div>
  </div>
</header>

<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h2>Carrito de Compra</h2>
      <div class='row'>
        {{#each plainCart}}
          <div class='col-md-12'>
            <div class='card mb-3'>
              <div class='row g-0'>
                <div class='col-md-4'>
                  <img class='card-img-top' src={{product.thumbnails}} alt='producto' />
                </div>
                <div class='col-md-8'>
                  <div class='card-body'>
                    <h5 class='card-title'>{{product.title}}</h5>
                    <p class='card-text'>{{product.description}}</p>
                    <p class='card-text'><strong>ID:</strong> {{product._id}}</p>
                    <p class='card-text'><strong>Código:</strong> {{product.code}}</p>
                    <p class='card-text'><strong>Precio:</strong> ${{product.price}}</p>
                    <p class='card-text'><strong>Cantidad:</strong> {{quantity}}</p>
                    <button class='btn btn-danger deleteFromCart' data-productid='{{product._id}}'>
                      Eliminar del carrito
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class='col-md-4'>
      <h2>Opciones del Carrito</h2>
      <div>
        {{#each cartId}}
          <button class='btn btn-danger deleteCart' data-cartid='{{this}}'>Eliminar carrito
            {{this}}</button>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script type='module' src='/js/cart.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>